<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QAIDSC</title>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div>
            <h3>青岛中学国际部学生代表大会</h1>
            <h4>Qingdao Academy International Department Student Congress.</h1>
            <hr style="border-color: black;">
        </div>
        <div>
            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Error</strong>:{{ message }}
                    </div>
                    {% endif %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Warning</strong>:{{ message }}
                    </div>
                    {% endif %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Success</strong>:{{ message }}
                    </div>
                    {% endif %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                    <div class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Info</strong>:{{ message }}
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <button style="margin-bottom: 10px;" onclick="window.location.href='/logout/'" type="button" class="btn btn-danger">退出登录</button>
        <button style="margin-bottom: 10px;" onclick="window.location.href='/list/'" type="button" class="btn btn-warning">回到主页</button>
        <div>
            <h3>新建提案</h3>
            <form action="" method="post">
                {%csrf_token%}
                <div class="form-group">
                    <label>提案名称<span style="color: red;">*</span>:</label>
                    <input type="text" name="title">
                </div>
                <button style="margin-bottom: 15px;" type="submit" class="btn btn-success">下一步</button>
            </form>
        </div>
    </div>
</body>
</html>