<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QAIDSRM</title>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div>
            <h3>青岛中学国际部学生代表大会</h1>
            <h4>Qingdao Academy International Department Student Representative Meeting.</h1>
            <hr style="border-color: black;">
        </div>
        <div>
            <h5 class="lead"><strong>《青岛中学国际部学生代表大会章程》(节选)</strong> 第五章 选  举</h5>
            <p>
                <strong>第二十六条</strong> 国际部学生代表大会学生代表应占国际部学生数量的百分之二十及以上，并且至少有三名的教师代表在场，教师代表的权力与学生代表相同。<br>
                <strong>第二十七条</strong> 选举以学院为单位，学院平分名额，各个年级至少选出百分之十的同学参加（特殊情况除外）。<br>
                <strong>第二十八条</strong> 历届学生代表大会应选出下一任学生代表大会常委会成员。并从学代会学生代表中选出占全学部人数百分之九的学生代表参加校级学代会。<br>
                <strong>第二十九条</strong> 大会采用不记名投票，应设置投票箱；唱票环节由常委会进行，需要至少两名随机选出的代表或列席人员作为监票人。
            </p>
            <hr style="border-color: black;">
        </div>
        <div>
            <p style="font-size: 15pt;">
                同学们好,<br>
                国际部学代会将在xxx月xxx日召开，现在向各位同学开放学生代表的报名通道。<br>
                每个学院需要在xxx月xxx日选拔出xxx人作为最终参会的代表。<br>
                学生代表有义务主动调查、听取学部学生的意见，为同学们争取权利。且学生代表有权利撰写学代会议案，数量上不封顶。<br>
                希望大家积极参与。<br>
                <strong>----- 国际部学生会权益部</strong>
            </p>
            <hr style="border-color: black;">
        </div>
        <a href="/reg/" style="margin-bottom: 15px;" class="btn btn-success" role="button">报名</a>
        <!-- <a href="/del/" style="margin-bottom: 15px;" class="btn btn-warning" role="button">取消报名</a> -->
    </div>
</body>
</html>