<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QAIDSC</title>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div>
            <h3>青岛中学国际部学生代表大会</h1>
            <h4>Qingdao Academy International Department Student Congress.</h1>
            <hr style="border-color: black;">
        </div>
        <div>
            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Error</strong>:{{ message }}
                    </div>
                    {% endif %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Warning</strong>:{{ message }}
                    </div>
                    {% endif %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Success</strong>:{{ message }}
                    </div>
                    {% endif %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                    <div class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Info</strong>:{{ message }}
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <button onclick="window.location.href='/logout/'" type="button" class="btn btn-danger">退出登录</button>
        <button onclick="window.location.href='/list/'" type="button" class="btn btn-warning">回到主页</button>
        <button onclick="window.location.href='/add/'" type="button" class="btn btn-success">新建提案</button>
        <h2>我的提案(作为提案人)</h2>
        <div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>标题</th>
                    <th>提案人</th>
                    <th>初审结果</th>
                    <th>初审建议</th>
                    <th>投票结果</th>
                    <th>上次修改</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for i in obj %}
                <tr>
                    <th scope="row">{{ i.id }}</th>
                    <td>{{ i.title }}</td>
                    <td>{{ i.forrep.name }}</td>
                    {% if i.init_views is None %}
                    <td><span style="color: gray;" class="glyphicon  glyphicon-question-sign" aria-hidden="true"></span></td>
                    {% elif i.init_views %}
                    <td><span style="color: green;" class="glyphicon  glyphicon-ok" aria-hidden="true"></span></td>
                    {% else %}
                    <td><span style="color: red;" class="glyphicon  glyphicon-remove" aria-hidden="true"></span></td>
                    {% endif %}
                    {% if i.init_views is None %}
                    <td><span style="color: gray;" class="glyphicon  glyphicon-question-sign" aria-hidden="true"></span></td>
                    {% else %}
                    <td>{{ i.init_opinion }}</td>
                    {% endif %}
                    {% if i.result is None %}
                    <td><span style="color: gray;" class="glyphicon  glyphicon-question-sign" aria-hidden="true"></span></td>
                    {% elif i.result %}
                    <td><span style="color: green;" class="glyphicon  glyphicon-ok" aria-hidden="true"></span></td>
                    {% else %}
                    <td><span style="color: red;" class="glyphicon  glyphicon-remove" aria-hidden="true"></span></td>
                    {% endif %}
                    <td>{{ i.last_change_data }}</td>
                    <td>{{ i.create_data }}</td>
                    <td>
                        <button onclick="window.location.href='/view/{{ i.id }}/'" type="button" class="btn btn-info">查看</button>
                        <button onclick="window.location.href='/edit/{{ i.id }}/'" type="button" class="btn btn-warning">修改</button>
                        <button onclick="window.location.href='/del/{{ i.id }}/'" type="button" class="btn btn-default">删除</button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <h2>我的其他提案(作为附议人)</h2>
        <div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>标题</th>
                    <th>提案人</th>
                    <th>初审结果</th>
                    <th>初审建议</th>
                    <th>投票结果</th>
                    <th>上次修改</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for i in obj1 %}
                <tr>
                    <th scope="row">{{ i.id }}</th>
                    <td>{{ i.title }}</td>
                    <td>{{ i.forrep.name }}</td>
                    {% if i.init_views is None %}
                    <td><span style="color: gray;" class="glyphicon  glyphicon-question-sign" aria-hidden="true"></span></td>
                    {% elif i.init_views %}
                    <td><span style="color: green;" class="glyphicon  glyphicon-ok" aria-hidden="true"></span></td>
                    {% else %}
                    <td><span style="color: red;" class="glyphicon  glyphicon-remove" aria-hidden="true"></span></td>
                    {% endif %}
                    {% if i.init_views is None %}
                    <td><span style="color: gray;" class="glyphicon  glyphicon-question-sign" aria-hidden="true"></span></td>
                    {% else %}
                    <td>{{ i.init_opinion }}</td>
                    {% endif %}
                    {% if i.result is None %}
                    <td><span style="color: gray;" class="glyphicon  glyphicon-question-sign" aria-hidden="true"></span></td>
                    {% elif i.result %}
                    <td><span style="color: green;" class="glyphicon  glyphicon-ok" aria-hidden="true"></span></td>
                    {% else %}
                    <td><span style="color: red;" class="glyphicon  glyphicon-remove" aria-hidden="true"></span></td>
                    {% endif %}
                    <td>{{ i.last_change_data }}</td>
                    <td>{{ i.create_data }}</td>
                    <td>
                        <button onclick="window.location.href='/view/{{ i.id }}/'" type="button" class="btn btn-info">查看</button>
                        <button onclick="window.location.href='/delgl/{{ i.id }}/'" type="button" class="btn btn-warning">取消关联</button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>